{{!-- {{accessories}} --}}
{{!-- {{shirts}} --}}
{{!-- {{pants}} --}}
{{!-- {{shoes}} --}}
    <h1 class="center">Closet</h1>

{{#each accessories as |accessory|}}
        {{#if accessory.images}}
        <img src={{accessory.images}} alt="accessories-image" class="accessories-image"></img>
        {{else}}
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/340719-200.png" alt="accessories-image" class="accessories-image"></img>
        {{/if}}
        <a href="/closet/accessories/{{accessory.name}}">{{accessory.name}}</a>
{{/each}}
